:root {
  --mainBlue:  #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
  --crimsonRed: #dc143c;
  --bloodRed: #8a0303;
  --lightGrey: #a9a9a9;
  --darkGrey: #494949;
  --pastelPink: #FFB7B2;
  --pastelBlue: #CBE4F9;
  --mainGradient: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
  --pastelGradient: linear-gradient(to bottom right, var(--pastelPink), var(--pastelBlue));
}
@font-face {
  font-family: Cormorant;
  src: url(Cormorant.ttf);
}
@font-face {
  font-family:Sacramento;
  src: url(Sacramento-Regular.ttf);
}
@font-face{
  font-family:ClickerScript;
  src: url(ClickerScript-Regular.ttf);
}
body {
  font-family: ClickerScript !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.text-sacramento {
  font-family:  Sacramento !important;
  text-transform: uppercase;
  font-size: 2.5rem;
}
.text-clickerScript{
  font-family: ClickerScript !important;
  font-size: 2rem;
}
.text-cormorant{
  font-family: Cormorant !important;
}
.text-pink{
  color: var(--pastelPink);
}
.text-blue {
  color: var(--pastelBlue);
}
.text-bright {
  color: var(--lightBlue);
  font-size: 4rem;
}


