:root {
  --mainBlue:  #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
  --crimsonRed: #dc143c;
  --bloodRed: #8a0303;
  --lightGrey: #a9a9a9;
  --darkGrey: #494949;
  --mainGradient: linear-gradient(to bottom right, var(--bloodRed), #000000)
}
/*
@font-face {
  font-family: ;
  src: url(Oswald-Medium.ttf);
}
@font-face {
  font-family: Permanent-Marker;
  src: url(PermanentMarker-Regular.ttf);
}
*/
body {
  font-family:'Comic Sans MS'  !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}
.text-title {
  font-family:  Arial !important;
  letter-spacing: 0.3em;
  text-transform: uppercase ;
}
.text-blue {
  color: var(--mainBlue);
}
.text-bright {
  color: var(--lightBlue);
}